.list {
    width: 100%;
}


.wantToWork-area .btn{
    border: 1px solid #000;
    border-radius: 8px;
}


.footer-area .footer-social a i {
    display: inline-block;
    margin-top: 13px;
}

#back-top i{
    margin-top: 10px;
}
